Q1. Create one variable containing following type of data:

(i)string

(ii)list

(iii)float

(iv)tuple

In [1]:
#i> Creating a string data type variable s:

s = "Assignment"
print(s)
print(type(s))

Assignment
<class 'str'>

In [2]:
#ii> Creating a list data type variable l:

l = ['abc',1,5.7,(1,2)]
print(l)
print(type(l))

['abc', 1, 5.7, (1, 2)]
<class 'list'>

In [3]:
#iii> Creating a float data type variable f:

f = 5.9
print(f)
print(type(f))

5.9
<class 'float'>

In [4]:
#iv> Creating a tuple data type variable t:

t = (1,4.9,'str',(1,2))
print(t)
print(type(t))

(1, 4.9, 'str', (1, 2))
<class 'tuple'>

Q2. Given are some following variables containing data:

(i)var1 = ‘ ‘

(ii)var2 = ‘[ DS , ML , Python]’

(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)var4 = 1

What will be the data type of the above given variable.

In [5]:
''' (i)  var1 = ‘ ‘
As the variable declaration is assigned to a blank placed inside quotes '',hence it will be a string data type.
Any value placed inside quotes '' or "" becomes a string data type.'''

var1=''
print(type(var1))

<class 'str'>

In [6]:
''' (ii)  var2 =‘[ DS , ML , Python]’
As the variable declaration is assigned to a list but placed inside quotes '',hence it will be a string data type.
Any value placed inside quotes '' or "" becomes a string data type.'''

var2 ='[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [7]:
''' (iii)  var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
As the variable declaration is assigned inside square brackets,hence it will be a list data type.'''

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [8]:
''' (iv)  var4 = 1
As the variable declaration is assigned to numerical whole number ,hence it will be an integer data type.'''

var4 = 1
print(type(var4))

<class 'int'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [9]:
''' (i) / 
/ is a division operator which comes under the category of arithmetic operator.
This operator divides th evalue on left from the value on right.
The output will come in decimal or floating point value.
Example:

If we have to divide digit 13 by by digit 4 ,then we write as below '''

print(13/4)

#Here left value i.e. 13 is divided by right value i.e. 4 ,and the output comes in decimal or floating value i.e. 3.25

3.25

In [10]:
'''(ii) %
% is a Modulus operator which comes under the category of arithmetic operator..
This operator divides the left value from right value and return the remainder.
Example:
If we have to find the remainder of division 13/4 then we write as below '''

print(13 % 4)

#Here the left value is divided by right value and the remainder 1 is shown as the output.'''

1

In [11]:
'''(iii) //
// is Floor Division operator.It divides and returns the integer value of the quotient.
It doesnot includes the digits after decimal.
Example:
If we do division for 13/4 we get, but when we use 13//4 output only contains whole part of the 
division not the decimal part'''

print(13//4)

3

In [12]:
'''(iv) **'
** is is Exponential operator.It raises the first number to the power of the second.
Example:

13**4 = 13*13*13*13, i.e. multiply 4 times 13'''

print(13**4)

28561

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
# lst is the variable declared for list

lst=[1,9.8,'str',(4,7,9),"abc",['r','h','g'],45,12,9,'asgn']

for i in lst:
    print('For element',i,'the data type is',type(i))

For element 1 the data type is <class 'int'>
For element 9.8 the data type is <class 'float'>
For element str the data type is <class 'str'>
For element (4, 7, 9) the data type is <class 'tuple'>
For element abc the data type is <class 'str'>
For element ['r', 'h', 'g'] the data type is <class 'list'>
For element 45 the data type is <class 'int'>
For element 12 the data type is <class 'int'>
For element 9 the data type is <class 'int'>
For element asgn the data type is <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
A=int(input("Enter number A for Dividend : "))
B=int(input("Enter number B for Divisor : "))
count=0
N=A
while A>0:
    if(A%B==0):
        count+=1
        A=A//B
        
    else:
        break;
        
        
print(N,"is purely divisible by ",B," ,",count," times")

Enter number A for Dividend :  576
Enter number B for Divisor :  2

576 is purely divisible by  2  , 6  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
lst=[]
lst=range(26)

for i in lst:
    if (i%3==0):
        print("Element ",i," is divisible by 3")
    else:
        print("Element ",i," is not divisible by 3")

Element  0  is divisible by 3
Element  1  is not divisible by 3
Element  2  is not divisible by 3
Element  3  is divisible by 3
Element  4  is not divisible by 3
Element  5  is not divisible by 3
Element  6  is divisible by 3
Element  7  is not divisible by 3
Element  8  is not divisible by 3
Element  9  is divisible by 3
Element  10  is not divisible by 3
Element  11  is not divisible by 3
Element  12  is divisible by 3
Element  13  is not divisible by 3
Element  14  is not divisible by 3
Element  15  is divisible by 3
Element  16  is not divisible by 3
Element  17  is not divisible by 3
Element  18  is divisible by 3
Element  19  is not divisible by 3
Element  20  is not divisible by 3
Element  21  is divisible by 3
Element  22  is not divisible by 3
Element  23  is not divisible by 3
Element  24  is divisible by 3
Element  25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable data types are those whose values cannot be modified once they are created. 
Examples: int, str, bool, float, tuple.

In [17]:
print("\nDatatype String\n")

b='zxc'
print(type(b))

b[1]='a'


'''Here as the String data type is immutable hence its throwing error if we are trying to modify or make any changes.'''

Datatype String

<class 'str'>

TypeError: 'str' object does not support item assignment

In [18]:
print("\nDatatype Tuple")
t=(1,4,5)
print(type(t))

t[2]=8


'''Here as the Tuple data type is immutable hence its throwing error if we are trying to modify or make any changes.'''

Datatype Tuple
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

Mutable data types are those whose values can be changed or new values can be assigned to them.
Examples: list, sets and dictionary

In [20]:

print("Datatype List\n")

l=[1,2,3]
print('before ',l,' type ',type(l),' address ',id(l))

l[1]=5

print('after ',l,' type ',type(l),' address ',id(l))


print("\nDatatype Sets\n")
s={1,3,4}
print('before ',s,' type ',type(s),'address ',id(s))

s.add(2)
      
print('after ',s,' type ',type(s),'address ',id(s))

print("\nDatatype Dictionary\n")

dt={1:"a",2:"b"}
print("before ",dt," type ",type(dt),'address ',id(dt))

dt[2]="x"
print("after ",dt," type ",type(dt),'address ',id(dt))


#Here the address of storage of variable is same,which means we are not creating a copy ,we are 
#directly working on the origin data declared.Even the modifications are being reflected in the variable respectively

Datatype List

before  [1, 2, 3]  type  <class 'list'>  address  4362985792
after  [1, 5, 3]  type  <class 'list'>  address  4362985792

Datatype Sets

before  {1, 3, 4}  type  <class 'set'> address  4375052800
after  {1, 2, 3, 4}  type  <class 'set'> address  4375052800

Datatype Dictionary

before  {1: 'a', 2: 'b'}  type  <class 'dict'> address  4363353536
after  {1: 'a', 2: 'x'}  type  <class 'dict'> address  4363353536